.container-fluid {
    cursor: default; /* lol */
}

.row {
    width: 100%;
}

.navbar-nav {
    width: 100%;
}

.antiButton {
    background: none;
    border: none;
    cursor: default !important;
}

.avatarMenu {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.leaderboardLink {
    display: inline-block;
    background-color: #F1F1F1;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    margin-right: 2rem;
    padding: 20px;
    text-decoration: none;
    cursor: default;
}

.leaderboardLink:hover {
    color: black; /* You may think, why is this here? I don't know either but I had to add it */
    opacity: 80%;
}

.leaderboardLink > div.profile {
    display: inline-block;
}

.bg-dark .leaderboardLink {
    background-color: #4A4A4A;
    color: white;
}

.link {
    background: none;
    border: none;
    color: rgb(100, 144, 185);
}

.link:hover {
    text-decoration: underline;
}

.server-banner {
    height: 250px;
    background: gray;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: cover;
}

.changeBanner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 7.5px;
    display: none;
}

.leftButton {
    left: calc(1rem - 10px);
}

.rightButton {
    right: calc(1rem - 10px);
}

.server-banner:hover .changeBanner {
    display: inline-block;
}

.padding-container {
    padding-left: 100px;
    padding-right: 100px;
}

.actual-content {
    background: linear-gradient(0deg, rgba(28,28,28,1) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    min-height: 90px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

.profile {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: white;
}

.profile > h3 {
    color: black;
    text-align: center;
    line-height: 60px;
}

.leaderboard-server-name {
    color: white;
    margin-top: 10px;
}

.paragraph {
    color: white;
}

#customize-rank-card {
    color: rgb(137, 187, 235);
}

.playerItem {
    background-color: #F1F1F1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.bg-dark .playerItem {
    background-color: #4A4A4A;
    color: white;
}

.rankCircle {
    display: inline-block;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    color: black;
}

.rankCircle > h4 {
    text-align: center;
    line-height: 36px;
}

.gold {
    background-color: #FFB74B;
}

.silver {
    background-color: #D4D4D4;
}

.bronce {
    background-color: #705227;
    color: white;
}

.normal {
    background-color: #F9F9F9;
}

.avatar {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    margin-left: 10px;
}

.username {
    position: absolute;
    margin-left: 102px;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    position: absolute; 
    right: 0;
}

.boxy {
    text-align: center;
    float: left;
    margin-right: 10px;
}

.preSpinner {
    margin-right: 85px;
}

.spinner {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.roles {
    width: 100%;
    background-color: #F1F1F1;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-bottom: 1rem;
}

.bg-dark .roles {
    background-color: #4A4A4A;
    color: white;
}

.role {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

@media (max-width: 850px) {
    .actual-content {
        display: block;
        padding-bottom: 10px;
    }

    #customize-rank-card {
        color: rgb(116, 168, 216);
    }

    #leaderboard-join-server {
        margin-top: 0 !important;
    }

    #leaderboard-server-options {
        display: flex;
        justify-content: center;
    }

    .players {
        width: 100%;
    }
    
    .right {
        display: none;
    }

    .roles {
        margin-left: 1.5rem !important;
    }
} 